image: node:21.5.0
pages:
  cache:
    paths:
      - node_modules/
    script:
      - npm install -g @angular/cli@latest
      - npm install
      - ng build

    artifacts:
      paths:
        - public

    only:
      - main
      - pages