# .gitlab-ci.yml

stages:
  - build
  - deploy

image: node:lts  # Utilisez l'image officielle de Node.js avec la version spécifiée

before_script:
  # Installez les dépendances nécessaires
  - npm install

build:
  stage: build
  script:
    # Build de l'application Angular
    - ng build --prod
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    # Déplacez les fichiers de build dans le dossier public
    - mv dist/* public/

  artifacts:
    paths:
      - public

  only:
    - main  # Déployez uniquement à partir de la branche master (ajustez selon vos besoins)