image: node:lts

before_script:
  - npm ci
  - npm install -g @angular/cli@latest

pages:
  script:
    - ng build --aot --build-optimizer --common-chunk --vendor-chunk --optimization --progress --configuration=production --output-path=public
  artifacts:
    paths:
      - public  # Expose the 'public' folder at the Page URL